﻿<?php if($total): ?>
	<ul class="lista">
		<?php foreach ($lista as $item): ?>
			<li>
				<?php $link = $this->link('noticia-item', array('categoria' => $categoria[$item['noticia_categoria_id']]['slug'], 'slug' => $item['slug'])); ?>
				<div class="categoria">
					<span><?php echo $categoria[$item['noticia_categoria_id']]['nome']; ?></span>
				</div>
				<div class="titulo">
					<a href="<?php echo $link; ?>">
						<?php echo $item['titulo']; ?>
					</a>
				</div>
				<div class="resumo">
					<a href="<?php echo $link; ?>">
						<?php echo $item['resumo']; ?>
					</a>
				</div>
			</li>
		<?php endforeach; ?>
	</ul>
<?php else: ?>
	<div class="texto">
		<div class="alert alert-warning">Não existem notícias publicadas.</div>
	</div>
<?php endif; ?>
<?php if ($total > $limit): ?>
<div class="pagination">
    <?php echo $pager; ?>
</div>
<?php endif; ?>