<div class="corpo">
    <div class="criacao">
        <span>
            <?php
                $criacao = new DateTime($item['criacao']);
                echo $criacao->format('d/m/Y') . ' às ' . $criacao->format('H\hi');
            ?>
        </span>
        <?php if(!is_null($item['atualizacao'])): ?>
            <span>-</span>
            <span>Atualizado em
                <?php
                    $atualizacao = new DateTime($item['atualizacao']);
                    echo $atualizacao->format('d/m/Y') . ' às ' . $atualizacao->format('H\hi');
                ?>
            </span>
        <?php endif; ?>
		<?php if($item['publicado'] == false): ?>
			<div class="alert alert-danger">
				<h3>Esta notícia não está publicada!</h3>
			</div>
		<?php endif; ?>
    </div>
    <div class="titulo">
        <h1><?php echo $item['titulo']; ?></h1>
        <h3 class="subtitulo"><?php echo $item['subtitulo']; ?></h3>
    </div>
    <div class="texto">
        <div class="compartilhar">
            <div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_linkedin_counter"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
        </div>
        <?php echo $item['texto']; ?>
    </div>
    <?php if(key($item['imagem']) > 0): ?>
		<div class="texto">
			<h2><i class="fa fa-picture-o"></i> imagens</h2>
			<ul class="galeria">
				<?php foreach(current($item['imagem']) as $id => $imagem): ?>
					<li>
						<a href="<?php echo Config::$upload . $imagem['nome']?>">
							<img src="<?php echo Config::$upload . '/thumbnail/' . $imagem['nome']?>">
						</a>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
    <?php endif; ?>
    <div id="comentarios">
        <div class="fb-comments" data-width="850px" data-padding-mobile="2%" data-padding-tablet="2%" data-width-normal="700px" data-width-large="850px" data-href="<?php echo $url; ?>" data-numposts="5" data-colorscheme="light"></div>
    </div>
</div>