body
{
    overflow-x: hidden;
    @include font-sans-serif();
    color: $textColor;
    background-color: $bodyBackground;
    margin: 0;

    a {
        color: $linkColor;
        text-decoration: none;

        &:hover {
            color: $linkColorHover;
            text-decoration: underline;
        }
    }
}

.fluid
{
    margin: 0 auto;
}

header
{

    #logo
    {
        img
        {
            width: 100%;
        }
    }

    #opener
    {
        display: none;
    }

    nav
    {
        ul
        {
            padding: 0 15px;
            margin: 0;
            li
            {
                display: inline-block;
                position: relative;

                a.item-1,
                a.item-2
                {
                    color: $_blue_medium;
                    font-weight: $_fontweight_normal;
                    text-transform: lowercase;
                    display: block;
                    &:last-child
                    {
                        padding-right: 0;
                    }

                    i.fa-caret-down
                    {
                        display: none;
                    }
                }
                &:hover
                {
                    a
                    {
                        text-decoration: none;
                    }

                    a.item-1
                    {
                        background-position: right top;
                    }
                }

                &.dropdown
                {
                    ul
                    {
                        z-index: 1000;
                        background-color: $_blue_dark;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        left: 0;
                        top: 25px;
                        -webkit-transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -ms-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;

                        li
                        {
                            border-bottom: 1px dotted $_blue_softest;
                            white-space: nowrap;
                            display: block;
                            margin: auto;
                            padding: 0;
                            -webkit-transition: all 0.3s ease-out;
                            -moz-transition: all 0.3s ease-out;
                            -ms-transition: all 0.3s ease-out;
                            -o-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;

                            &:last-of-type
                            {
                                border: none;
                            }

                            a
                            {
                                //background: url('menu_arrow.png') right bottom no-repeat;
                                -webkit-transition: all 0.3s ease-out;
                                -moz-transition: all 0.3s ease-out;
                                -ms-transition: all 0.3s ease-out;
                                -o-transition: all 0.3s ease-out;
                                transition: all 0.3s ease-out;
                                line-height: 45px;
                                height: 45px;
                                color: $_white;
                                font-weight: $_fontweight_light;
                                margin: 0 10px;

                                &:hover
                                {
                                    color: $_yellow_dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

section
{
    float: left;
    width: 100%;
    &.gray
    {
        background:
        {
            color: $_gray_light;
        }
        border:
        {
            width: 1px;
            color: $_gray_lightest;
            style: solid;
            right: 0;
            left: 0;
        }
    }
}

#showcase
{
    #wrapper
    {
        position: relative;
    }

    .nivoSlider
    {
        position: relative;
        
        background:
        {
            color: $_white;
            //image: url('loading.gif');
            repeat: no-repeat;
            position: 50% 50%;
        }
        
        img
        {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
        }
        
        a
        {
            border: 0;
            display: block;
        }

    }

    .nivo-controlNav
    {
        position: absolute;
        text-align: center;
        right: 0;
        bottom: 50px;
        z-index: 100;
        padding: 0;

        a
        {
            &:before
            {
                @include icon($fa-var-circle);
                color: $_blue_light;
                text-shadow: 0 1px 1px $_blue_medium;
            }
            display: inline-block;
            font-size: 0.0001em;
            border: 0;

            &:hover
            {
                text-decoration: none;
                &:before
                {
                    color: $_yellow_dark;
                }
            }
            
            &.active
            {
                &:before
                {
                    color: $_yellow_dark;
                }
            }
        }
    }

    .nivo-directionNav
    {
        display: none;
        a
        {
            width: 30px;
            height: 30px;
            background-color: $_blue;
            text-indent: -9999px;
            border: 0;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            &.nivo-nextNav
            {
                background-position: -30px 0;
                right: 15px;
            }
            &.nivo-prevNav
            {
                left: 15px;
            }
        }
    }

    .nivo-caption
    {
        background: $_blue;
        @include opacity(94);
        
        .title a
        {
            margin-bottom: 10px;
            color: $_white;
            letter-spacing: -0.5px;
            &:hover
            {
                text-shadow: 1px 1px 1px $_blue_dark;
            }
        }
        .description a
        {
            color: $_blue_light;
            &:hover
            {
                text-shadow: 1px 1px 1px $_blue_dark;
            }
        }
        a
        {
            font-family: $_fontfamily_open;
            text-shadow: 0 1px 1px $_blue_medium;
            display: inline-block;
            clear: both;
            
            &:hover
            {
                text-decoration: none;
            }
        }
    }
}

#shortcuts,
#sidebar
{
    ul
    {
        margin: 0;
    }
    li
    {
        list-style: none;
        display: inline-block;
        a
        {
            font-weight: $_fontweight_light;
            letter-spacing: -0.5px;
            display: block;
            @include border-radius();
            background: $_blue;
            color: $_white;
            text-shadow: 0 1px 1px $_blue_medium;
            text-decoration: none;
            @include transition(all 0.3s ease);
            &:hover
            {
                text-shadow: 0 1px 1px $_blue_soft;
            }
            i
            {
                display: block;
                float: left;
            }
        }
    }
}

#conteudo
{
    float: left;
}
#sidebar
{
    float: left;
    li a
    {
        margin-right: 0 !important;
    }
}

#gallery,
#events
{
	.title
    {
        margin-top: 25px;
        margin-bottom: 20px;
		h2
		{
			@include font-sans-serif();
            color: $_blue_medium;
        }
    }
}

#titulo
{
    padding-top: 10px;
    background:
    {
        color: $_gray_light;
    }
    border:
    {
        width: 1px;
        color: $_gray_lightest;
        style: solid;
        right: 0;
        left: 0;
    }

    .title
    {
        h2
        {
            @include font-sans-serif();
            color: $_blue_medium;
        }
    }
    
    #breadcrumb
    {
        border-top:
        {
            width: 1px;
            color: $_gray;
            style: solid;
        }

        ul
        {
            list-style: none;
            margin: 0;
        }

        li
        {
            display: inline-block;
            height: 40px;
            line-height: 40px;

            .divider
            {
                display: inline-block;
                background: url("../images/breadcrumb_separator.png") no-repeat right center;
                width: 15px;
                height: 40px;
                text-indent: -9999em;
                margin: 0 15px;
            }

            a
            {
                text-transform: lowercase;
            }

            span
            {
                color: $_blue_medium;
                text-transform: lowercase;

            }

            &:last-child
            {
                .divider
                {
                    display: none;
                }
            }
        }
    }
}

#gallery
{
    ul
    {
        margin: 0;
        li
        {
            list-style: none;
            display: inline-block;

            .image
            {
                border-radius: 4px;
                overflow: hidden;

                img
                {
                    width: 100%;
                }
                a span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-position: 50% 25%;
                    @include background-size(cover);
                    @include transition(all 0.3s ease);
                }
                a:hover span {
                    width: 108%;
                    height: 108%;
                    margin: -4%;
                }
            }
        }
    }
}

#events
{
    table.table
    {
        thead
        {
            th
            {
                background: $_blue_odd;
                border-bottom: 1px solid $_white;
                color: $_white;
                font-weight: normal;
                height: 34px;
                line-height: 34px;
            }
            th:first-child
            {
                border-radius: 4px 0 0 0;
            }

            th:last-child
            {
                border-radius: 0 4px 0 0;
            }
        }

        tbody
        {
            border-bottom: 1px solid $_gray;
            font-weight: $_fontweight_light;
            letter-spacing: -0.1px;
            
            i.fa
            {
                float: right;
                margin: 7px 0 4px;
                color: $_gray_medium;
            }
        }

        .evento-datahora,
        .evento-data-min
        {
            display: none;
        }
    }
}

footer
{
    float: left;
    width: 100%;

    #rodape
    {
        padding: 38px 0;
        background: $_blue_medium;

        a.topo
        {
            display: none;
        }

        ul.menu
        {
            list-style: none;
            margin: 0;
            text-transform: lowercase;

            & li.bloco
            {
                display: inline-table;
                border-right: 1px solid $_blue_odd;

                &:last-child
                {
                    border-right: none;
                }

                ul
                {
                    margin: 0;
                }

                li
                {
                    list-style: none;

                    a
                    {
                        color: $_white;

                        i.fa-caret-down
                        {
                            display: none;
                        }
                    }

                    li
                    {
                        a
                        {
                            color: $_blue_light;
                            font-weight: $_fontweight_light;
                        }
                    }
                }
            }
        }
    }

    #contrape
    {
        color: $_blue_light_text;
        background: $_blue_lightest;
        padding: 15px 0;

        #ownered,
        #powered
        {
        }

        #ownered
        {
            span
            {
                margin-left: 5px;
            }
        }

        #powered
        {
            float: right;
            span
            {
                margin-right: 5px;
            }
        }
    }
}

ul.lista
{
    list-style: none;
    margin: 0;
	float: left;

    li
    {
		float: left;
        padding: 14px;
        border-bottom: 1px dotted $_gray_lightest;
		line-height: 1;
		width: 100%;

		.imagem
		{
			float: left;
			margin-right: 14px;
			
			img
			{
				border-radius: 5px;
			}
		}
		
        .categoria
        {
            span
            {
                font-weight: $_fontweight_bold;
                font-size: 11px;
                letter-spacing: -0.5px;
                text-transform: uppercase;
                color: $_gray_medium;
            }
        }

        .titulo
        {
			h3
			{
				margin: 5px 0;
			}
			
            a
            {
                font-weight: $_fontweight_bold;
                font-size: 18px;
                letter-spacing: -0.5px;
            }
        }

        .resumo
        {
			line-height: 25px;
			
            a
            {
                color: $_gray_dark;
            }
        }

        &:first-child
        {
            padding-top: 0;
        }

        &:last-child
        {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}

ul.listagem
{
	float: left;
    list-style: none;
    margin: 0;

    li
    {
		float: left;
        padding: 14px;
        border-bottom: 1px dotted $_gray_lightest;
		line-height: 1;
		width: 100%;

		.imagem
		{
			float: left;
			margin-right: 14px;
			
			img
			{
				border-radius: 5px;
			}
		}
		
		.detalhes
		{
			.categoria
			{
				span
				{
					font-weight: $_fontweight_bold;
					font-size: 11px;
					letter-spacing: -0.5px;
					text-transform: uppercase;
					color: $_gray_medium;
				}
			}

			.titulo
			{
				h3
				{
					margin: 5px 0;
				}
				
				a
				{
					font-weight: $_fontweight_bold;
					font-size: 18px;
					letter-spacing: -0.5px;
				}
			}

			.resumo
			{
				line-height: 25px;
				
				a
				{
					color: $_gray_dark;
				}
			}
		}
        &:last-child
        {
            border-bottom: 0;
        }
    }
}

ul.links
{
    list-style: none;
    margin: 0;

    li
    {
        padding: 10px 0;
        border-bottom: 1px dotted $_gray_lightest;
		width: 100%;

        &:last-child
        {
            border-bottom: 0;
        }
    }
}

ul.galeria
{
    list-style: none;
    margin: 0;
	padding-bottom: 10px;

    li
    {
        padding: 10px 5px 0;
		display: inline-block;
		
		img
		{
			border-radius: 5px;
		}
    }
}

.corpo
{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	
    .criacao
    {
        color: $_gray_medium;
        font-size: 11px;
    }
    .titulo
    {
        h1
        {
            color: $_blue_medium;
            font-size: 37px;
            letter-spacing: -1.5px;
            line-height: 40px;
            margin-bottom: 10px;
        }
        h2
        {
            color: $_blue_medium;
            line-height: 32px;
            margin: 15px 0;
			
			&.subtitulo
			{
				color: $_gray_medium;
				margin-top: 0;
			}
        }
        h3
        {
            color: $_blue_medium;
            line-height: 28px;
            margin: 15px 0;
			
			&.subtitulo
			{
				color: $_gray_medium;
				margin-top: 0;
			}
        }
    }
    .texto
    {
        border-top: 2px solid $_gray_lightest;
        border-bottom: 2px solid $_gray_lightest;

        p
        {
            margin: 25px 0;
			
			&:first-child
			{
				margin-top: 0;
			}
			&:only-child
			{
				margin-top: 25px;
			}
        }

        .compartilhar
        {
            border-bottom: 1px solid $_gray_lightest;
            line-height: 15px;
            padding: 10px 0;
            margin-bottom: 25px;
        }
    }
    .fb-comments
    .fb-comments span[style],
    .fb-comments span iframe[style]
    {
        width: 100% !important;
    }
}

.pagination
{
    margin: 50px 0 25px !important;
    text-align: center;
}

#demonstrativo
{
    table
    {
        td
        {
            width: 40%;

            &.valor
            {
                width: 20%;
            }
        }

        th
        {

            &.texto-info
            {
                background-color: $infoBackground;
                border-color: $infoBorder;
            }
            &.texto-success
            {
                background-color: $successBackground;
                border-color: $successBorder;
            }
            &.texto-warning
            {
                background-color: $warningBackground;
                border-color: $warningBorder;
            }
            &.texto-error
            {
                background-color: $errorBackground;
                border-color: $errorBorder;
            }
        }
    }
}

span
{
    &.texto-info
    {
        color: $infoText;
    }
    &.texto-success
    {
        color: $successText;
    }
    &.texto-warning
    {
        color: $warningText;
    }
    &.texto-error
    {
        color: $errorText;
    }
}

.page-faleconosco,
.page-associe
{
	.element
	{
		input[type="text"],
		input[type="email"],
		textarea
		{
			width: 100%;
		}
	}
}

#map_canvas
{
    margin-top: 10px;
}