@import 'compass/css3/border-radius';

@mixin site-width($width) {
    width: $width;
    margin: 0 auto;
}

@mixin fill-parent()
{
    display: block;
    height: 100%;
    width: 100%;
}

@mixin icon($icon) {
  @include icon-FontAwesome();
  content: $icon;
}

@mixin icon-FontAwesome() {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
}
/*
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
*/