.fluid
{
	width: 940px;
}

nav#menu
{
    display: none;
}

#page
{
    width: 100% !important;
}

header
{
    height: 100px;
    padding-bottom: 20px;

    #logo
    {
        display: inline-block;
        width: 166px;
        padding-top: 35px;
    }

    nav#main-menu
    {
        float: right;
        padding-top: 40px;
        display: inline-table;

        li
        {
            &.item-1
            {
                margin-right: 20px;
                &:last-child
                {
                    margin-right: 0;
                }
                a
                {
                    &.item-1
                    {
                        font-size: $_fontsize_h4;
                    }
                    &.item-2
                    {
                        font-size: $_fontsize_h6;
                    }
                }
            }
            &.dropdown
            {
                a.item-1:after
                {
                    @include icon($fa-var-angle-down);
                    padding-left: 5px;
                    color: $_gray;
                }
                &:hover
                {
                    a.item-1:after
                    {
                        color: $_blue_lightest;
                    }
                }
                li
                {
                    min-width: 180px;

                    a.item-2
                    {
                        margin-left: 5px;
                        &:before
                        {
                            @include icon($fa-var-angle-right);
                            padding-right: 5px;
                            color: $_blue_light;
                        }
                        &:hover
                        {
                            &:before
                            {
                                color: $_yellow_dark;
                            }
                        }
                    }
                }
            }
        }
    }
}

section
{
    padding: 20px 0;
}

#showcase
{
    .nivoSlider
    {
        @include border-radius();
    }

    .nivo-controlNav
    {
        width: 308px;

        a
        {
            &:before
            {
                font-size: 14px;
            }
            width: 14px;
            height: 14px;
            margin: 0 4px;
        }
    }

    .nivo-caption
    {
        right: 0;
        left: auto;
        width: 308px;
        height: 100%;
        padding: 28px;

        .title
        {
            margin-bottom: 10px;
            a
            {
                font-size: $_fontsize_hero_2;
                font-weight: $_fontweight_light;
                line-height: 34px;
            }
        }
        .description a
        {
            font-size: $_fontsize_h4;
            line-height: 23px;
        }
    }
}

#shortcuts
{
    li
    {
        &:nth-child(2) a,
        &:nth-child(4) a,
        &:nth-child(5) a,
        &:nth-child(7) a
        {
            background: $_blue_odd;
        }
        &:nth-child(4n) a
        {
            margin-right: 0;
        }
        &:nth-child(1n+5) a
        {
            margin-bottom: 0;
        }
    }
}

#shortcuts,
#sidebar
{
    li
    {
        a
        {
            float: left;
            width: 220px;
            height: 220px;
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 26px;
            &:hover
            {
                background: $_blue_lightest;
            }
            i
            {
                font-size: 65px;
                width: 100%;
                margin: 50px 0 10px;
            }
        }
    }
}

#interna
{
    padding: 30px 0;

    #conteudo
    {
        width: 700px;
    }

    #sidebar
    {
        width: 220px;
        margin-left: 20px;
    }
}

#titulo,
#gallery,
#events
{
	.title
    {
		h2
		{
            font-size: 30px;
        }
    }
}

#titulo
{
    .title
    {
        margin: 20px 0 30px;
    }
}

#gallery
{
    li
    {
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        width: 220px;

        .image
        {
            width: 100%;
        }
    }
}

.page-index #gallery
{
    li
    {
        &:nth-child(6n-1)
        {
            margin-right: 0;
        }
    }
}

.page-galeria #gallery,
.page-album #gallery
{
    li
    {
        &:nth-child(4n)
        {
            margin-right: 0;
        }
    }
}

footer
{
    #rodape
    {
        ul.menu
        {
            & li.bloco
            {
                width: 172px;
                padding-left: 14px;

                li
                {
                    a
                    {
                        font-size: 13px;
                        line-height: 36px;
                        letter-spacing: -0.1px;
                    }

                    li
                    {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    #contrape
    {
        font-size: 11px;
    }
}

.page-faleconosco,
.page-associe
{
	.element
	{
		width: 50%;
		float: left;
		
		input[type="text"],
		input[type="email"]
		{
			width: 96%;
		}
		
		&.mensagem
		{
			clear: both;
			width: 100%;
			
			textarea
			{
				resize: vertical;
				width: 98%;
			}
		}
	}
	
	.button
	{
		clear: both;
	}
}