.fluid
{
	width: 100%;
}

nav#menu
{
    display: none;
}

#page
{
    width: 100% !important;
}

header
{
    padding-bottom: 15px;

    #logo
    {
        margin: 0 auto;
        width: 20%;
        padding-top: 36px;
    }

    nav#main-menu
    {
        text-align: center;
        padding-top: 15px;

        ul
        {
            display: inline;
            li
            {
                text-align: left;
                &.item-1
                {
                    margin-right: 16px;
                    &:last-child
                    {
                        margin-right: 0;
                    }
                    a
                    {
                        display: inline;
                        &.item-1
                        {
                        font-size: $_fontsize_h3;
                        }
                        &.item-2
                        {
                        font-size: $_fontsize_h4;
                        }
                    }
                }
                &.dropdown
                {
                    a.item-1:after
                    {
                        @include icon($fa-var-angle-down);
                        padding-left: 5px;
                        color: $_gray;
                    }
                    &:hover
                    {
                        a.item-1:after
                        {
                            color: $_blue_lightest;
                        }
                    }
                    li
                    {
                        min-width: 180px;

                        a.item-2
                        {
                            margin-left: 5px;
                            &:before
                            {
                                @include icon($fa-var-angle-right);
                                padding-right: 5px;
                                color: $_blue_light;
                            }
                            &:hover
                            {
                                &:before
                                {
                                    color: $_yellow_dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

section
{
    padding: 20px 0;
}

#showcase
{
    #wrapper
    {
        margin: 0 20px;
        @include border-radius();
        overflow: hidden;
    }
    .nivo-caption
    {
        position: relative;
        padding: 20px;

        .title
        {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: $_fontweight_light;
        }
    }
    .nivo-controlNav
    {
        display: none;
    }
    .nivo-directionNav
    {
        display: block;

        a
        {
            top: 35%;
            width: 60px;
            height: 100px;

            &.nivo-prevNav
            {
                left: 0;
                @include border-radius(0 $_border_radius $_border_radius 0);
                background: {
                    image: url('../images/showcase_tablet_seta_esquerda.png');
                    position: center center;
                    repeat: no-repeat;
                }
            }

            &.nivo-nextNav
            {
                right: 0;
                @include border-radius($_border_radius 0 0 $_border_radius);
                background: {
                    image: url('../images/showcase_tablet_seta_direita.png');
                    position: center center;
                    repeat: no-repeat;
                }
            }
        }
    }
}

#shortcuts,
#sidebar
{
    li
    {
        width: ($fluidGridColumnWidth * 6) + ($fluidGridGutterWidth * 4);
        margin: 0 0 ($fluidGridGutterWidth / 2) $fluidGridGutterWidth;
        
        &:nth-child(2n)
        {
            margin-right: 0;
        }
        &:nth-child(2) a,
        &:nth-child(3) a,
        &:nth-child(6) a,
        &:nth-child(7) a
        {
            background: $_blue_odd;
        }
        &:nth-child(n+7)
        {
            margin-bottom: 0;
        }
        a
        {
            float: left;
            display: block;
            font-size: 26px;
            line-height: 35px;
            width: 100%;
            padding: 15px 0;
            white-space: nowrap;
            &:hover
            {
                background: $_blue_lightest;
            }
            i
            {
                float: left;
                font-size: 35px;
                margin: 0 15px 0 20px;
            }
        }
    }
}

#interna
{
    #conteudo,
    #sidebar
    {
        width: 100%;
    }
    #conteudo
    {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

#breadcrumb
{
    ul
    {
        width: 96% !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
}

#gallery,
#events,
footer
{
    .title,
    .content
    {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

#titulo,
#gallery,
#events
{
    .title
    {
        h2
        {
            font-size: 36px;
        }
    }
}

#titulo
{
    .title
    {
        width: 96%;
        margin: 20px 2% 30px;
    }
}

#gallery
{
    li
    {
        width: ($fluidGridColumnWidth * 2.8) + ($fluidGridGutterWidth * 2);
        margin: 0 0 2% 2%;
        float: left;
        
        .image
        {
            width: 100%;
        }

        &:nth-child(4n)
        {
            margin-right: 0;
        }

        &:nth-child(1n+5)
        {
            margin-bottom: 0;
        }
    }

    .clear-tablet
    {
        @include clearfix();
    }
}

#events
{
    table.table
    {
        font-size: 15px;

        .evento-data,
        .evento-hora
        {
            display: none;
        }
        .evento-datahora
        {
            display: table-cell;
        }

        th.evento-datahora
        {
            border-radius: 4px 0 0 0 !important;
        }

        th.evento-nome
        {
            border-radius: 0 4px 0 0 !important;
        }
    }
}

footer
{
    #rodape
    {
        ul.menu
        {
            & li.bloco
            {
                border: none;
                display: inline;

                li
                {
                    display: inline;
                    
                    a
                    {
                        line-height: 40px;
                        letter-spacing: -0.1px;
                        padding-left: 20px;
                        background: url("../images/dot.png") no-repeat 9px 0;
                    }

                    ul
                    {
                        display: inline;
                    }
                    
                    li
                    {
                        display: inline;

                        a
                        {
                            background-position: 9px -13px;
                        }
                    }
                }
            }
        }
    }
    #contrape
    {
        font-size: 15px;

        #ownered
        {
            .not-tablet
            {
                display: none;
            }
        }
    }
}

.page-faleconosco,
.page-associe
{
	.element
	{
		width: 50%;
		float: left;
		
		input[type="text"],
		input[type="email"]
		{
			width: 96%;
		}
		
		&.mensagem
		{
			clear: both;
			width: 100%;
			
			textarea
			{
				resize: vertical;
				width: 98%;
			}
		}
	}
	
	.button
	{
		clear: both;
	}
}