@import '../../vendor/bootstrap/lib/variables'; // Modify this for custom colors, font-sizes, etc
@import "../../vendor/font-awesome/scss/variables";
/* colors */

	$_white:			#FFFFFF;

	$_gray_dark:		#5D5D5D;
	$_gray_medium:		#9E9E9E;
	$_gray:				#D1D1D1;
	$_gray_lightest:	#E0E0E0;
	$_gray_light:		#EEEEEE;

	$_blue_dark:		#01376D;
	$_blue_medium:		#014181;
	$_blue:				#005DB9;
	$_blue_odd:			#0051A2;
	$_blue_softest:     #92C3F3;
	$_blue_soft:        #0373E3;
	$_blue_lightest:	#0984FF;
	$_blue_light:		#9CCCFC;
	$_blue_light_text:  #BCD9F6;

	$_yellow_dark:		#FEB416;
	$_yellow:			#FED016;

	$_black:			#000000;

/* typografy */

	$_fontfamily_open:		'Open Sans', arial, sans-serif;
	$_fontfamily_arial:		'Arial', arial, sans-serif;

	$_fontweight_bold:		600;
	$_fontweight_normal:	400;
	$_fontweight_light:		300;

	$_fontsize_h1:			37px;
	$_fontsize_h2:			30px;
	$_fontsize_h3:			18px;
	$_fontsize_h4:			15px;
	$_fontsize_h5:			14px;
	$_fontsize_h6:			13px;
	$_fontsize_p:			11px;

    $_fontsize_hero_1:      $_fontsize_h2;
    $_fontsize_hero_2:      24px;
    $_fontsize_hero_3:      28px;
    $_fontsize_hero_4:      16px;

	$_border_radius:		4px;
    $_lineheight:           25px;

/* page */

	$bodyBackground:	$_white;
	$textColor:			$_gray_dark;
	
	$defaultBase:		$_blue;
	$defaultBaseDark:	$_gray_medium;

	$defaultButton:		$_blue;
	$defaultButtonDark:	$_gray_medium;

	$linkColor:			$_blue;
	$linkColorHover:	$_blue_dark;
	
	$sansFontFamily:	$_fontfamily_open;
	$serifFontFamily:	$_fontfamily_arial;
	
	$baseFontSize:		$_fontsize_h5;
	$baseFontFamily:	$sansFontFamily;
	$baseLineHeight:	$_lineheight;
	$altFontFamily:		$serifFontFamily;

	$hrBorder:			$_gray_lightest;
	
/* tables */

	$tableBackground:			transparent; // overall background-color
	$tableBackgroundAccent:		#f9f9f9; // for striping
	$tableBackgroundHover:		#f5f5f5; // for hover
	$tableBorder:				#dddddd; // table and cell border
	
/* forms */

	$inputBorderRadius:			$_border_radius;
	$formActionsBackground:		$_gray_light;

	$placeholderText:			$_gray_medium;

/* font */

    $fa-font-path: "../../vendor/font-awesome/fonts";
	
@import "../../vendor/font-awesome/scss/mixins";
@import "../../vendor/font-awesome/scss/path";
@import "../../vendor/font-awesome/scss/core";
@import "../../vendor/font-awesome/scss/larger";
@import "../../vendor/font-awesome/scss/fixed-width";
@import "../../vendor/font-awesome/scss/list";
@import "../../vendor/font-awesome/scss/bordered-pulled";
@import "../../vendor/font-awesome/scss/spinning";
@import "../../vendor/font-awesome/scss/rotated-flipped";
@import "../../vendor/font-awesome/scss/stacked";
@import "../../vendor/font-awesome/scss/icons";

@import '../../vendor/bootstrap/lib/mixins';
@import '../../vendor/bootstrap/lib/reset';
@import 'mixins';