@charset "utf-8";
/* CSS Document */

@import 'variables';
@import 'base';

/* iPhone */
@media only screen and (max-width: 480px)
{
	$gridColumns:		8;
	$gridColumnWidth:	27px;
	$gridGutterWidth:	12px;
	$fluidGridColumnWidth:    8.999999998733333%;
	$fluidGridGutterWidth:    3.9999999987333332%;
	@import 'mobile';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

/* iPhone Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (max-width: 1136px)
{
	$gridColumns:		8;
	$gridColumnWidth:	27px;
	$gridGutterWidth:	12px;
	$fluidGridColumnWidth:    8.999999998733333%;
	$fluidGridGutterWidth:    3.9999999987333332%;
	@import 'mobile_retina';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

/* iPad */
@media only screen and (min-width: 480px) and (max-width: 980px)
{
	$gridColumns:		12;
	$gridColumnWidth:	60px;
	$gridGutterWidth:	20px;
	$fluidGridColumnWidth:    6.382978723%;
	$fluidGridGutterWidth:    2.127659574%;
	@import 'tablet';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

/* iPad Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-width: 1136px)
{
	$gridColumns:		12;
	$gridColumnWidth:	60px;
	$gridGutterWidth:	20px;
	$fluidGridColumnWidth:    6.382978723%;
	$fluidGridGutterWidth:    2.127659574%;
	@import 'tablet_retina';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

/* normal */
@media only screen and (min-width: 980px) and (max-width: 1200px)
{
	$gridColumns:		20;
	$gridColumnWidth:	28px;
	$gridGutterWidth:	20px;
	$fluidGridColumnWidth:    6.382978723%;
	$fluidGridGutterWidth:    2.127659574%;
	@import 'normal';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

/* large */
@media only screen and (min-width: 1200px)
{
	$gridColumns:		20;
	$gridColumnWidth:	38px;
	$gridGutterWidth:	20px;
	$fluidGridColumnWidth:    6.382978723%;
	$fluidGridGutterWidth:    2.127659574%;
	@import 'large';
	@import '../../vendor/bootstrap/lib/grid';
	@import '../../vendor/bootstrap/lib/layouts';
}

@import 'import';

/*
mobile |: 320
mobile -: 480
tablet |: 768
tablet -: 1024
mobile retina |: 640
mobile retina -: 1136
tablet retina |: 1536
tablet retina -: 2048
screen: 1024
large: 1200
*/