<br />
<font size='1'><table class='xdebug-error xe-warning xe-scream' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> SCREAM: Error suppression ignored for</th></tr>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: imagefill() expects parameter 4 to be long, string given in C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php on line <i>432</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0009</td><td bgcolor='#eeeeec' align='right'>704688</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1006</td><td bgcolor='#eeeeec' align='right'>3020992</td><td bgcolor='#eeeeec'>Base_Controller_Upload->content(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>58</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->initialize( ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>23</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->post( ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>38</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.5248</td><td bgcolor='#eeeeec' align='right'>3957472</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstances( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>81</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.0227</td><td bgcolor='#eeeeec' align='right'>14125272</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstance( ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>44</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>1.0227</td><td bgcolor='#eeeeec' align='right'>14125624</td><td bgcolor='#eeeeec'>Cdc_Upload::crop( ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>89</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>1.0228</td><td bgcolor='#eeeeec' align='right'>14128440</td><td bgcolor='#eeeeec'><a href='http://www.php.net/call_user_func_array' target='_new'>call_user_func_array</a>
( ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>1.0228</td><td bgcolor='#eeeeec' align='right'>14129448</td><td bgcolor='#eeeeec'>WideImage_Image->resizeCanvas( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>1.0675</td><td bgcolor='#eeeeec' align='right'>14169768</td><td bgcolor='#eeeeec'>WideImage_Operation_ResizeCanvas->execute( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>597</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>1.0696</td><td bgcolor='#eeeeec' align='right'>15782840</td><td bgcolor='#eeeeec'>WideImage_Image->fill( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Operation\ResizeCanvas.php' bgcolor='#eeeeec'>..\ResizeCanvas.php<b>:</b>90</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>1.0696</td><td bgcolor='#eeeeec' align='right'>15782888</td><td bgcolor='#eeeeec'><a href='http://www.php.net/imagefill' target='_new'>imagefill</a>
( ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>432</td></tr>
<tr><th align='left' colspan='5' bgcolor='#e9b96e'>Variables in local scope (#11)</th></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$color&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font color='#cc0000'>'down'</font> <i>(length=4)</i>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$x&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$y&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning xe-scream' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> SCREAM: Error suppression ignored for</th></tr>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: imagefill() expects parameter 4 to be long, string given in C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php on line <i>432</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0009</td><td bgcolor='#eeeeec' align='right'>704688</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1006</td><td bgcolor='#eeeeec' align='right'>3020992</td><td bgcolor='#eeeeec'>Base_Controller_Upload->content(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>58</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->initialize( ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>23</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->post( ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>38</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.5248</td><td bgcolor='#eeeeec' align='right'>3957472</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstances( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>81</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.2463</td><td bgcolor='#eeeeec' align='right'>14167320</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstance( ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>44</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>1.2464</td><td bgcolor='#eeeeec' align='right'>14167672</td><td bgcolor='#eeeeec'>Cdc_Upload::crop( ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>89</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>1.2464</td><td bgcolor='#eeeeec' align='right'>14170488</td><td bgcolor='#eeeeec'><a href='http://www.php.net/call_user_func_array' target='_new'>call_user_func_array</a>
( ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>1.2464</td><td bgcolor='#eeeeec' align='right'>14171496</td><td bgcolor='#eeeeec'>WideImage_Image->resizeCanvas( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>1.2465</td><td bgcolor='#eeeeec' align='right'>14171496</td><td bgcolor='#eeeeec'>WideImage_Operation_ResizeCanvas->execute( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>597</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>1.2479</td><td bgcolor='#eeeeec' align='right'>14369960</td><td bgcolor='#eeeeec'>WideImage_Image->fill( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Operation\ResizeCanvas.php' bgcolor='#eeeeec'>..\ResizeCanvas.php<b>:</b>90</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>1.2479</td><td bgcolor='#eeeeec' align='right'>14370008</td><td bgcolor='#eeeeec'><a href='http://www.php.net/imagefill' target='_new'>imagefill</a>
( ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>432</td></tr>
<tr><th align='left' colspan='5' bgcolor='#e9b96e'>Variables in local scope (#11)</th></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$color&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font color='#cc0000'>'down'</font> <i>(length=4)</i>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$x&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$y&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning xe-scream' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> SCREAM: Error suppression ignored for</th></tr>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: imagefill() expects parameter 4 to be long, string given in C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php on line <i>432</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0009</td><td bgcolor='#eeeeec' align='right'>704688</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1006</td><td bgcolor='#eeeeec' align='right'>3020992</td><td bgcolor='#eeeeec'>Base_Controller_Upload->content(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>58</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->initialize( ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>23</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->post( ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>38</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.5248</td><td bgcolor='#eeeeec' align='right'>3957472</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstances( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>81</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.2820</td><td bgcolor='#eeeeec' align='right'>14169056</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstance( ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>44</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>1.2820</td><td bgcolor='#eeeeec' align='right'>14169408</td><td bgcolor='#eeeeec'>Cdc_Upload::crop( ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>89</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>1.2821</td><td bgcolor='#eeeeec' align='right'>14172224</td><td bgcolor='#eeeeec'><a href='http://www.php.net/call_user_func_array' target='_new'>call_user_func_array</a>
( ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>1.2821</td><td bgcolor='#eeeeec' align='right'>14173232</td><td bgcolor='#eeeeec'>WideImage_Image->resizeCanvas( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>1.2821</td><td bgcolor='#eeeeec' align='right'>14173232</td><td bgcolor='#eeeeec'>WideImage_Operation_ResizeCanvas->execute( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>597</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>1.2828</td><td bgcolor='#eeeeec' align='right'>14696736</td><td bgcolor='#eeeeec'>WideImage_Image->fill( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Operation\ResizeCanvas.php' bgcolor='#eeeeec'>..\ResizeCanvas.php<b>:</b>90</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>1.2828</td><td bgcolor='#eeeeec' align='right'>14696784</td><td bgcolor='#eeeeec'><a href='http://www.php.net/imagefill' target='_new'>imagefill</a>
( ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>432</td></tr>
<tr><th align='left' colspan='5' bgcolor='#e9b96e'>Variables in local scope (#11)</th></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$color&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font color='#cc0000'>'down'</font> <i>(length=4)</i>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$x&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$y&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning xe-scream' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> SCREAM: Error suppression ignored for</th></tr>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: imagefill() expects parameter 4 to be long, string given in C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php on line <i>432</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0009</td><td bgcolor='#eeeeec' align='right'>704688</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.1006</td><td bgcolor='#eeeeec' align='right'>3020992</td><td bgcolor='#eeeeec'>Base_Controller_Upload->content(  )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\public_html\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>58</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->initialize( ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>23</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.2129</td><td bgcolor='#eeeeec' align='right'>3491632</td><td bgcolor='#eeeeec'>Base_Controller_Upload->post( ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>38</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.5248</td><td bgcolor='#eeeeec' align='right'>3957472</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstances( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\lib\base\src\Base\Controller\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>81</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.4307</td><td bgcolor='#eeeeec' align='right'>14170792</td><td bgcolor='#eeeeec'>Cdc_Upload::createInstance( ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>44</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>1.4307</td><td bgcolor='#eeeeec' align='right'>14171144</td><td bgcolor='#eeeeec'>Cdc_Upload::crop( ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>89</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>1.4308</td><td bgcolor='#eeeeec' align='right'>14173960</td><td bgcolor='#eeeeec'><a href='http://www.php.net/call_user_func_array' target='_new'>call_user_func_array</a>
( ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>1.4308</td><td bgcolor='#eeeeec' align='right'>14174968</td><td bgcolor='#eeeeec'>WideImage_Image->resizeCanvas( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\app\cdc\src\Cdc\Upload.php' bgcolor='#eeeeec'>..\Upload.php<b>:</b>75</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>1.4309</td><td bgcolor='#eeeeec' align='right'>14174968</td><td bgcolor='#eeeeec'>WideImage_Operation_ResizeCanvas->execute( ???, ???, ???, ???, ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>597</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>1.4314</td><td bgcolor='#eeeeec' align='right'>14237800</td><td bgcolor='#eeeeec'>WideImage_Image->fill( ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Operation\ResizeCanvas.php' bgcolor='#eeeeec'>..\ResizeCanvas.php<b>:</b>90</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>1.4314</td><td bgcolor='#eeeeec' align='right'>14237848</td><td bgcolor='#eeeeec'><a href='http://www.php.net/imagefill' target='_new'>imagefill</a>
( ???, ???, ???, ??? )</td><td title='C:\servidor\home\imobiliariareismagos.com.br\vendor\spekkionu\wideimage\WideImage\Image.php' bgcolor='#eeeeec'>..\Image.php<b>:</b>432</td></tr>
<tr><th align='left' colspan='5' bgcolor='#e9b96e'>Variables in local scope (#11)</th></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$color&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font color='#cc0000'>'down'</font> <i>(length=4)</i>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$x&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
<tr><td colspan='2' align='right' bgcolor='#eeeeec' valign='top'><pre>$y&nbsp;=</pre></td><td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>int</small> <font color='#4e9a06'>0</font>
</pre></td></tr>
</table></font>