﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        
        <?php foreach($controller->share as $index => $value): ?>
            <meta property="<?php echo $index; ?>" content="<?php echo $value; ?>" />
        <?php endforeach; ?>

        <link rel="shortcut icon" type="image/x-icon" href="<?php echo Config::$root; ?>assets/site/images/favicon.ico">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
        <link rel="stylesheet" type="text/css" href="<?php echo Config::$root; ?>assets/vendor/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="<?php echo Config::$root; ?>assets/vendor/nivo-slider/themes/bar/bar.css">
        <link rel="stylesheet" type="text/css" href="<?php echo Config::$root; ?>assets/vendor/nivo-slider/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="<?php echo Config::$root; ?>assets/site/stylesheets/screen.css">

        <!--[if lte IE 8]>
           <link href="<?php echo Config::$root; ?>assets/site/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <script type="text/javascript">
            var APP_ID = '<?php echo $controller->appId; ?>';
            var ROOT = '<?php echo Config::$root; ?>';
            var PIN = '<?php echo Config::$root . 'assets/site/images/pin.png'; ?>';
        </script>
        <script src="http://sawpf.com/1.0.js" type="text/javascript"></script>
        <script src="<?php echo Config::$root; ?>assets/vendor/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="<?php echo Config::$root; ?>assets/vendor/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
        <script src="<?php echo Config::$root; ?>assets/vendor/mmenu/jquery.mmenu.min.js" type="text/javascript"></script>
        <script src="<?php echo Config::$root; ?>assets/vendor/bootstrap/docs/assets/js/bootstrap-tooltip.js" type="text/javascript"></script>
        <script src="<?php echo Config::$root; ?>assets/site/js/site.js" type="text/javascript"></script>
        <title><?php echo Config::$baseTitle; ?></title>
    </head>
    <body class="page-<?php echo (is_null($controller->index) ? 'index' : $controller->index); ?>">
        <div id="fb-root"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=" + APP_ID;
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            var addthis_config = {"data_track_addressbar":false};
        </script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530e424261b2f1f7"></script>
        <div id="page">
            <header>
                <div class="fluid">
                    <a href="#menu" id="opener"><i class="fa fa-bars"></i></a>
                    <div id="logo">
                        <a href="<?php echo $controller->link('home'); ?>">
                            <img src="<?php echo Config::$root; ?>assets/site/images/logo.png" />
                        </a>
                    </div>
                    <nav id="menu">
                        <?php echo Cdc_Navigation::menu($controller->menu(), $controller->index, '<ul>'); ?>
                    </nav>
                    <nav id="main-menu">
                        <?php echo Cdc_Navigation::menu($controller->menu(), $controller->index, '<ul>'); ?>
                    </nav>
                </div>
            </header>
            <?php if($controller->isFront): ?>
                <?php echo $content; ?>
            <?php else: ?>
                <div id="titulo">
                    <div class="fluid">
                        <div class="title">
                            <h2>
                                <i class="fa fa-<?php echo (!is_null($controller->icone) ? $controller->icone : 'quote-left'); ?>"></i>
                                <?php echo mb_convert_case($controller->pageTitle, MB_CASE_LOWER, 'UTF-8'); ?>
                                <?php if(!is_null($controller->subtitle)): ?>
                                    <small>
                                        <i class="fa fa-angle-double-right"></i>
                                        <?php echo mb_convert_case($controller->subtitle, MB_CASE_LOWER, 'UTF-8'); ?>
                                    </small>
                                <?php endif; ?>
                            </h2>
                        </div>
                    </div>
                    <div id="breadcrumb">
                        <div class="fluid">
                            <?php echo Cdc_Navigation::breadcrumb($controller->breadcrumb(), $controller->index, '<ul>'); ?>
                        </div>
                    </div>
                </div>
                <section id="interna">
                    <div class="fluid">
                        <div id="conteudo">
                            <?php echo $content; ?>
                        </div>
                        <div id="sidebar">
                            <?php echo $controller->sidebar(); ?>
                        </div>
                    </div>
                </section>
            <?php endif; ?>
            <footer>
                <div id="rodape">
                    <div class="fluid">
                        <div class="content">
                            <?php echo $controller->menu_rodape($controller->index); ?>
                        </div>
                    </div>
                </div>
                <div id="contrape">
                    <div class="fluid">
                        <div class="content">
                            <span id="ownered">
                                <?php
                                    $copyright = '&copy;' . (date('Y') <= 2013 ? '2013' : '2013-' . date('Y'));
                                ?>

                                <a href="<?php echo $controller->link('home'); ?>">
                                    <img src="<?php echo Config::$root; ?>assets/site/images/logo_contrape.png" />
                                </a>
                                <span class="all"><?php echo $copyright; ?><span class="not-tablet">Associação dos Funcionários da UFRN - Todos os direitos reservados.</span></span>
                            </span>
                            <span id="powered">
                                <span>Produzido pela</span>
                                <a href="http://www.kraftworks.com.br" target="_blank">
                                    <img src="<?php echo Config::$root; ?>assets/site/images/logo_kraftworks.png" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-51282963-1', 'afurn.com.br');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
		</script>
    </body>
</html>