<?php include $controller->getTemplate('layout/_admin_header.phtml'); ?>
<body<?php if ($controller->isFront) echo ' class="front"'; ?>>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="javascript:void(0);" class="brand">Administração</a>
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <?php echo Cdc_Navigation::menu($controller->menu_admin(), $controller->index, '<ul class="nav">'); ?>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><a href="<?php echo $controller->link('admin_home'); ?>"><?php echo Config::$baseTitle; ?></a></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12" id="main">
                <?php $pageNav = Cdc_Navigation::menu($controller->pageMenu(), $controller->op, '<ul class="nav">'); ?>
                <?php if ($pageNav): ?>
                <div class="row">
                    <div class="navbar span12">
                        <div class="navbar-inner">
                            <div class="container">
                                <?php echo $pageNav; ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endif; ?>
                <div class="row">
                    <div id="alert" class="span12">
                        <?php display_system_events(); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h2><?php echo $controller->pageTitle; ?></h2>
                        <div id="content">
                            <div class="hide well" id="filemanager_modal" title="Gerenciador de arquivos">
                                <legend>Gerenciador de Arquivos<button class="close" type="button">×</button></legend>
                                <iframe id="iframe_filemanager" src="" width="100%" height="250" frameborder="0" allowtransparency="true" onLoad="autoResize('iframe_filemanager', false, true);"></iframe>
                            </div>

                            <?php echo $content; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php include $controller->getTemplate('_admin_footer.phtml'); ?>
</body>
</html>
