<?php include $controller->getTemplate('layout/_admin_header.phtml'); ?>
<body<?php if ($controller->isFront) echo ' class="front"'; ?>>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><a href="<?php echo $controller->link('admin_home'); ?>"><?php echo Config::$baseTitle; ?></a></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12" id="alert">
                <?php display_system_events(); ?>
            </div>
        </div>
        <div class="row" id="main">
            <div class="span4 offset4">
                <h2><?php echo $controller->pageTitle; ?></h2>
                <div id="content">
                    <div class="login-form well">
                        <form class="" id="login" method="POST">

                            <label><?php echo label('email'); ?></label>
                            <?php echo $widgets['email']; ?>

                            <label><?php echo label('senha'); ?></label>
                            <?php echo $widgets['senha']; ?>

                            <?php /*
                              <label class="checkbox">
                              <input type="checkbox" name="remember_me"> <?php echo label($labels, 'remember_me'); ?>
                              </label>
                             */ ?>
                            <div class="submit">
                                <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-lock"></i> OK</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?php include $controller->getTemplate('_admin_footer.phtml'); ?>
</body>
</html>
