<?php if ($vitrine): ?>
    <section id="showcase" class="<?php echo $this->alternar(); ?>">
        <div class="fluid">
            <div id="wrapper">
                <div id="slider" class="nivoSlider">
                    <?php foreach($vitrine as $key => $value): ?>
                    <?php
                        $arquivo = current(current($value['imagem']));
                        $imagem = array(
                            'mobile'    => Config::$upload . 'vitrine_mobile/' . $arquivo['nome'],
                            'tablet'    => Config::$upload . 'vitrine_tablet/' . $arquivo['nome'],
                            'normal'    => Config::$upload . 'vitrine_normal/' . $arquivo['nome'],
                            'large'     => Config::$upload . 'vitrine_large/' . $arquivo['nome'],
                        );

                        $recortes = array(
                            'data-src-mobile="' . $imagem['mobile'] . '"',
                            'data-src-tablet="' . $imagem['tablet'] . '"',
                            'data-src-normal="' . $imagem['normal'] . '"',
                            'data-src-large="' . $imagem['large'] . '"',
                        );
                    ?>
                        <img class="slider-image" title="#vitrine<?php echo $key; ?>" src="<?php echo $imagem['normal']; ?>" <?php echo implode(' ', $recortes); ?> />
                    <?php endforeach; ?>
                </div>

                <?php foreach($vitrine as $key => $value): ?>
                    <?php
                        $target = '_blank';

                        if(strpos($value['url'], stripslashes(Config::$base_url)) or $value['url'] == '#' or $value['url'] == '')
                        {
                            $target = '_self';
                        }
                    ?>
                    <div id="vitrine<?php echo $key; ?>" class="nivo-html-caption">
                        <div class="title">
                            <a href="<?php echo $value['url']; ?>" target="<?php echo $value['janela_destino']; ?>"><?php echo $value['titulo']; ?></a>
                        </div>
                        <div class="description">
                            <a href="<?php echo $value['url']; ?>" target="<?php echo $value['janela_destino']; ?>"><?php echo $value['texto']; ?></a>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </section>
<?php endif; ?>
<section id="shortcuts" class="<?php echo $this->alternar(); ?>">
    <div class="fluid">
        <?php echo Cdc_Navigation::menu($this->atalhos(), $this->index, '<ul>'); ?>
    </div>
</section>
<?php if(count($albuns)): ?>
    <section id="gallery" class="<?php echo $this->alternar(); ?>">
        <div class="fluid">
            <div class="title">
                <h2><i class="fa fa-picture-o"></i> galeria</h2>
            </div>
            <script>
                $(function() {
                    $('#gallery .image').each(function() {
                        $(this).height($(this).width() * 0.75);
                    });
                });
            </script>
            <ul>
                <?php $chunks = array_chunk($albuns, 2); ?>
                <?php foreach($chunks as $index => $chunk): ?>
                    <?php foreach($chunk as $album): ?>
                        <?php
                            $link       = 'http://facebook.com/' . $album['id'];
                            $nome       = $album['name'];
                            $foto       = $album['cover_photo']['source'];
                        ?>
                        <li>
                            <div class="image">
                                <a href="<?php echo $link; ?>" target="_blank">
                                    <span alt="<?php echo $nome; ?>" title="<?php echo $nome; ?>" style="background-image: url('<?php echo $foto; ?>');"></span>
                                </a>
                            </div>
                            <?php echo $nome; ?>
                        </li>
                    <?php endforeach; ?>
                    <div class="<?php echo ($index % 2 != 0 ? 'clear-tablet' : ''); ?> clear-mobile"></div>
                <?php endforeach; ?>
            </ul>
        </div>
    </section>
<?php endif; ?>
<?php if(count($events)): ?>
    <section id="events" class="<?php echo $this->alternar(); ?>">
        <div class="fluid">
            <div class="title">
                <h2><i class="fa fa-calendar-o"></i> eventos</h2>
            </div>
            <div class="content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="evento-data">Data</th>
                            <th class="evento-hora">Hora</th>
                            <th class="evento-data-min">Data</th>
                            <th class="evento-datahora">Data/Hora</th>
                            <th class="evento-local">Local</th>
                            <th class="evento-nome">Evento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($events as $event): ?>
                            <?php

                                $link = 'http://facebook.com/' . $event->id;
                                $location = 'Sem local definido';
                                $timezone = 'America/Fortaleza';

                                if(property_exists($event, 'location'))
                                {
                                    $location = $event->location;
                                }

                                if($event->is_date_only)
                                {
                                    $show_time = false;
                                    $datahora = date_create_from_format('Y-m-d', $event->start_time, timezone_open($timezone));
                                }
                                else
                                {
                                    $show_time = true;
                                    $datahora = date_create_from_format(DATE_ISO8601, $event->start_time, timezone_open($timezone));
                                }
                            ?>
                            <tr>
                                <td class="evento-data">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php echo date_format($datahora, 'd') . ' de ' . mb_convert_case(Datastore::$meses[date_format($datahora, 'n')], MB_CASE_LOWER, 'UTF-8'); ?>
                                    </a>
                                </td>
                                <td class="evento-hora">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php if($show_time): ?>
                                            <?php echo date_format($datahora, 'H') . 'h' . ((int) date_format($datahora, 'i') ? ' e ' . date_format($datahora, 'i') . 'min' : ''); ?>
                                        <?php else: ?>
                                            Sem horário definido
                                        <?php endif; ?>
                                    </a>
                                </td>
                                <td class="evento-data-min">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php echo date_format($datahora, 'd/m'); ?>
                                    </a>
                                </td>
                                <td class="evento-datahora">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php echo date_format($datahora, ($show_time ? 'd/m - H\hi' : 'd/m')); ?>
                                    </a>
                                </td>
                                <td class="evento-local">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php echo $location; ?>
                                    </a>
                                </td>
                                <td class="evento-nome">
                                    <a href="<?php echo $link; ?>" target="_blank">
                                        <?php echo $event->name; ?>
                                    </a>
                                    <i class="fa fa-chevron-right"></i>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
<?php endif; ?>