*
{
    outline: 0 !important;
}

.no-background
{
    background: none !important;
}

body
{
    &.dialog, .dialog
    {
        padding: 0 !important;
    }
    #content
    {
        padding-top: 40px;
    }
}
@media only screen and (max-width: 767px) {
    body
    {
        padding: 0 10px !important;
        .dialog
        {
            padding: 0 !important;
        }
    }
    #content {
        padding-top: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body
    {
        padding: 0 10px !important;
        .dialog
        {
            padding: 0 !important;
        }
    }
    #content {
        padding-top: 0 !important;
    }
}

.page-header h1
{
    width: 166px;
    height: 41px;
}

.page-header h1 a
{
    display: block;
    text-indent: -9999em;
    width: 100%;
    height: 100%;
    background: url("../../site/images/logo_admin.png");
}

.navbar
{
    .brand
    {
        color: $defaultBaseDark;
        font-weight: bold;
        margin: 0 20px;
        padding-left: 0;
        padding-right: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
        transition: all 0.2s linear 0s;
    }
}

#delete_file
{
    form
    {
        margin: 0 !important;
    }
}

#alert ul,
.system-messages
{
    margin: 0 0 5px;
}

#alert li,
.system-messages li
{
    list-style: none;
}

#login input
{
    width: 97%;
}

#login .submit
{
    text-align: center;
    margin-top: 30px;
}

div.button
{
    margin-top: 20px;
}

textarea
{
    width: 90%;
    resize: vertical;
}

td.options
{
    min-width: 62px;
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.element
{
    margin-bottom: 9px;
    select
    {
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    input, textarea
    {
        margin-bottom: 0;
    }

    &.boolean
    {
        margin: 20px 10px;
    }

    &.select
    {
        margin-bottom: 10px;
    }
}

.progress
{
    margin: 18px 0;
}

.sortable
{
    display: inline-block;
    padding: 2px;
    background-color: $inputBackground;
    border: 1px solid $inputBorder;
    @include border-radius($inputBorderRadius);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(#{border linear .2s, box-shadow linear .2s});
    min-height: 24px;
    min-width: 210px;

    &.active {
        border-color: rgba(82,168,236,.8);
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
        @include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)});
    }

    @include tab-focus();

    .fileitem
    {
        background: #F5F5F5;
        border: 1px solid $inputBorder;
        @include border-radius($inputBorderRadius);
        display: inline-block;
        margin-right: 2px;
        padding: 1px 2px 2px;
        @include transition(#{border linear .2s, box-shadow linear .2s});

        .removefile
        {
           margin: 0 5px;
        }

        &:hover
        {
            background: #E5E5E5;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}

.select2-container
{
    margin-bottom: 10px;
    ul
    {
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        border-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
}

.swfupload
{
    height: 40px;
    width: 142px;
}

.dropdown .fa-caret-down
{
    margin-left: 5px;
}