﻿<?php if($total): ?>
    <div id="gallery">
        <script>
            $(function() {
                $('#gallery .image').each(function() {
                    $(this).height($(this).width() * 0.75);
                });
            });
        </script>
        <ul>
            <?php $chunks = array_chunk($albuns, 2); ?>
            <?php foreach($chunks as $index => $chunk): ?>
                <?php foreach($chunk as $album): ?>
                    <?php
                        $link       = 'http://facebook.com/' . $album['id'];
                        $nome       = $album['name'];
                        $foto       = $album['cover_photo']['source'];
                    ?>
                    <li>
                        <div class="image">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <span alt="<?php echo $nome; ?>" title="<?php echo $nome; ?>" style="background-image: url('<?php echo $foto; ?>');"></span>
                            </a>
                        </div>
                        <?php echo $nome; ?>
                    </li>
                <?php endforeach; ?>
                <div class="<?php echo ($index % 2 != 0 ? 'clear-tablet' : ''); ?> clear-mobile"></div>
            <?php endforeach; ?>
        </ul>
    </div>
<?php else: ?>
	<div class="texto">
		<div class="alert alert-warning">Não existem álbuns publicados.</div>
	</div>
<?php endif; ?>
<?php if ($total > $limit): ?>
    <div class="pagination">
        <?php echo $pager; ?>
    </div>
<?php endif; ?>