<form method="get" id="search_form" class="inline_form" action="<?php echo $action; ?>">
    <h2>Busca</h2>
    <?php foreach ($widgets as $key => $value): ?>
    <div class="element">
        <?php if (!array_key_exists('widget', $def[$key][Cdc_Definition::TYPE_WIDGET]) || ($def[$key][Cdc_Definition::TYPE_WIDGET]['widget'] != 'select')): ?>
        <label for="<?php echo $key; ?>">
            <?php echo label($key); ?>
        </label>
        <?php endif; ?>
        <?php echo $value; ?>
    </div>
    <?php endforeach; ?>
    <button type="submit" class="button submit">Buscar</button>
</form>