<?php
    echo $this->imovelSearch();

    if (count($lista) > 0):?>
    <?php $chunks = array_chunk($lista, 4); ?>
    <?php foreach ($chunks as $c): ?>
        <?php
			
			$i = 1;
			$total = count($c);
            $class = ' class="first"';

        ?>
        <ul class="cards inner">
        <?php foreach ($c as $item): ?>
            <?php $url = $this->link('imoveis', array('slug' => $item['slug'])); ?>
            <?php

            $imagem = Cdc_Template::singleImage($item, 'imagem', true, $item['nome']);

            if(is_null($imagem))
            {
                $imagem = '<img src="' . Config::$base_url . 'assets/site/images/sem-imagem-imagem.png"' . ' alt="' . $item['nome'] . '">';
            }

            ?>
				<li class="<?php

				if($i == 1) {
					echo 'first';
				}
				if($i == $total) {
					echo 'last';
				}

				$class = '';

				?>">
                    <div class="image">
                        <?php echo Cdc_Template::link($url, $imagem); ?>
                    </div>
                    <div class="description">
                        <a href="<?php echo $url; ?>">
                            <?php if(!empty($item['codigo'])) echo $item['codigo'] . '<br>'; ?>
                            <b><?php echo Imovel::$interesse['title'][$item['interesse_id']]; ?></b><br>
                            <?php echo $item['tipo']; ?> - <?php echo $item['bairro']; ?><br>
                            <h5>R$ <?php echo $item['valor']; ?></h5>
                        </a>
                    </div>
                </li>
        <?php

        $i++;

        endforeach; ?>
        </ul>
    <?php endforeach; ?>
    <div class="pagination"><?php echo $pager; ?></div>
<?php else: ?>
    <big>Nenhum imóvel encontrado.</big>
    <div style="height: 350px"></div>
<?php endif; ?>