<div class="corpo">
    <div class="titulo">
        <h1><?php echo $item['nome']; ?></h1>
    </div>
    <div class="texto">
        <div class="compartilhar">
            <div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_linkedin_counter"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
        </div>
        <?php echo $item['texto']; ?>
    </div>
    <?php if(key($item['imagem']) > 0): ?>
		<div class="texto">
			<h2><i class="fa fa-picture-o"></i> fotos</h2>
			<ul class="galeria">
				<?php foreach(current($item['imagem']) as $id => $imagem): ?>
					<li>
						<a href="<?php echo Config::$upload . $imagem['nome']?>">
							<img src="<?php echo Config::$upload . '/thumbnail/' . $imagem['nome']?>">
						</a>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
    <?php endif; ?>
    <div class="texto">
        <ul class="links">
            <?php if(!is_null($item['telefone'])): ?>
                <li>
                    <strong>Telefone: </strong><span><?php echo $item['telefone']; ?></span>
                </li>
            <?php endif; ?>
            <?php if(!is_null($item['email'])): ?>
                <li>
                    <strong>E-mail: </strong>
					<a href="mailto:<?php echo $item['email']?>"><?php echo $item['email']; ?></a>
                </li>
            <?php endif; ?>
            <?php if(key_exists('nome', $responsavel)): ?>
                <li>
                    <strong>Responsável: </strong><span><?php echo $responsavel['nome']; ?></span>
                </li>
            <?php endif; ?>
            <?php if(!is_null($item['endereco'])): ?>
                <li>
                    <strong>Endereço: </strong>
                    <span><?php echo $item['endereco']; ?></span>
                    <?php if(!is_null($item['latitude']) and !is_null($item['longitude'])): ?>
                        <div id="map_canvas" style="height: 380px"></div>
                        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                        <script>
                            function initialize() {
                                var container = 'map_canvas';
                                var location = new google.maps.LatLng(<?php echo $item['latitude']; ?>, <?php echo $item['longitude']; ?>);
                                var image = PIN;
                                var options = {
                                    zoom: 13,
                                    center: location,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    scrollwheel: false
                                };
                                var map = new google.maps.Map(document.getElementById(container), options);
                                var marker = new google.maps.Marker({
                                    position: location,
                                    map: map,
                                    icon: image
                                });
                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                    <?php endif; ?>
                </li>
            <?php endif; ?>
        </ul>
    </div>
</div>