<div class="corpo">
    <div class="titulo">
        <h3>Fale conosco</h3>
    </div>
    <div class="texto">
        <?php display_system_events(); ?>
        <a name="form"></a>
        <form method="post" action="#form" enctype="multipart/form-data" class="well">
            <?php foreach ($widgets as $k => $v): ?>
                <?php if (isset($def[$k]['widget']['widget']) && $def[$k]['widget']['widget'] == 'hidden'): ?>
                    <?php echo $v; ?>
                    <?php unset($widgets[$k]); ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php while ($item = each($widgets)): ?>
                <?php
                $p = $item['key'];
                $widgetClass = $p;
                $widget = array_key_exists('widget', $def[$p][Cdc_Definition::TYPE_WIDGET]) ? $def[$p][Cdc_Definition::TYPE_WIDGET]['widget'] : 'text';
                ?>
                <div class="element <?php echo "$widgetClass"; ?>">
                    <?php if ($widget == 'boolean'): ?>
                        <label class="checkbox">
                            <?php echo $widgets[$p]; ?> <?php echo label($p); ?><?php echo required($def[$p]); ?>
                        </label>
                    <?php else: ?>
                        <label><?php echo label($p); ?><?php echo required($def[$p]); ?></label>
                        <?php echo $widgets[$p]; ?>
                    <?php endif; ?>
                </div>

            <?php endwhile; ?>

            <div class="button">
                <button type="submit" class="btn btn-primary btn-large"><i class="fa fa-mail-forward"></i> Enviar</button>
            </div>
        </form>
    </div>
    <div class="titulo">
        <h3>Localização</h3>
        <p>
            Rua das Violetas, 628-B - Mirassol - Natal/RN - CEP: 59078-160<br>
            Telefone: (84) 3231-6330<br>
            Horário de funcionamento: Segunda a sexta-feira das 8h às 12h e das 14h às 18h.
        </p>
        <div id="map_canvas" style="height: 380px"></div>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        function initialize() {
            var container = 'map_canvas';
            var location = new google.maps.LatLng(-5.843624, -35.206375);
            var image = PIN;
            var options = {
                zoom: 13,
                center: location,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false
            };
            var map = new google.maps.Map(document.getElementById(container), options);
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: image
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</div>