﻿<div class="corpo">
	<?php if(!is_null($texto['corpo'])): ?>
		<div class="titulo">
			<h2><?php echo $texto['nome']; ?></h2>
		</div>
		<div class="texto">
			<?php echo $texto['corpo']; ?>
		</div>
	<?php endif; ?>
	<div class="titulo">
		<h2>Assessores</h2>
	</div>
	<?php if($total > 0): ?>
		<div class="texto">
			<ul class="listagem">
				<?php foreach ($assessores as $item): ?>
					<li>
						<div class="imagem">
							<?php if(key($item['imagem']) > 0): ?>
								<?php $imagem = current(Cdc_ArrayHelper::current($item['imagem'])); ?>
								<img src="<?php echo Config::$upload . '/thumbnail/' . $imagem['nome']?>">
							<?php else: ?>
							<?php endif; ?>
						</div>
						<div class="detalhes">
							<div class="categoria">
								<?php if(!is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
									<span>Exercício de <?php echo $item['exercicio_inicio']; ?> até <?php echo $item['exercicio_fim']; ?></span>
								<?php elseif(!is_null($item['exercicio_inicio']) and is_null($item['exercicio_fim'])): ?>
									<span>Exercício a partir de <?php echo $item['exercicio_inicio']; ?></span>
								<?php elseif(is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
									<span>Exercício até <?php echo $item['exercicio_fim']; ?></span>
								<?php endif; ?>
							</div>
							<div class="titulo">
								<h3><?php echo $item['nome']; ?></h3>
							</div>
							<div class="resumo">
								<?php echo $item['detalhes']; ?>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php else: ?>
		<div class="texto">
			<div class="alert alert-warning">Não existem assessores cadastrados.</div>
		</div>
	<?php endif; ?>
</div>