﻿<div class="corpo">
    <?php if(!is_null($texto_convenios['corpo'])): ?>
        <div class="texto">
            <?php echo $texto_convenios['corpo']; ?>
        </div>
    <?php endif; ?>
    <?php if($total > 0): ?>
        <div class="texto">
            <ul class="lista">
                <?php foreach ($lista as $item): ?>
                    <li>
                        <div class="titulo">
                            <h3><?php echo $item['nome']; ?></h3>
                        </div>
                        <div class="resumo">
                            <strong>Endereço: </strong><span><?php echo $item['endereco']; ?></span>
                            <br>
                            <strong>Telefone: </strong><span><?php echo $item['telefone']; ?></span>
                            <br>
                            <strong>E-mail: </strong><span><?php echo $item['email']; ?></span>
                            <p><?php echo $item['descricao']; ?></p>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php else: ?>
        <div class="texto">
            <div class="alert alert-warning">Não existem estabelecimentos conveniados cadastrados.</div>
        </div>
    <?php endif; ?>
</div>
<?php if ($total > $limit): ?>
<div class="pagination">
    <?php echo $pager; ?>
</div>
<?php endif; ?>