﻿<div class="corpo">
	<div class="titulo">
		<h2>Diretoria</h2>
	</div>
	<?php if(!is_null($texto_diretoria['corpo'])): ?>
		<div class="texto">
			<?php echo $texto_diretoria['corpo']; ?>
		</div>
	<?php endif; ?>
	<?php if($total_diretoria > 0): ?>
	<div class="texto">
		<ul class="listagem">
			<?php foreach ($diretoria as $item): ?>
				<li>
					<div class="imagem">
						<?php if(key($item['imagem']) > 0): ?>
							<?php $imagem = current(Cdc_ArrayHelper::current($item['imagem'])); ?>
							<img src="<?php echo Config::$upload . '/thumbnail/' . $imagem['nome']?>">
						<?php else: ?>
						<?php endif; ?>
					</div>
					<div class="detalhes">
						<div class="categoria">
							<?php if(!is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
								<span>Exercício de <?php echo $item['exercicio_inicio']; ?> até <?php echo $item['exercicio_fim']; ?></span>
							<?php elseif(!is_null($item['exercicio_inicio']) and is_null($item['exercicio_fim'])): ?>
								<span>Exercício a partir de <?php echo $item['exercicio_inicio']; ?></span>
							<?php elseif(is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
								<span>Exercício até <?php echo $item['exercicio_fim']; ?></span>
							<?php endif; ?>
						</div>
						<div class="titulo">
							<h3><?php echo $item['nome']; ?></h3>
							<h4>Cargo: <?php echo $item['cargo']; ?></h4>
						</div>
						<div class="resumo">
							<?php echo $item['detalhes']; ?>
						</div>
					</div>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
	<?php else: ?>
		<div class="texto">
			<div class="alert alert-warning">Não existem membros da diretoria cadastrados.</div>
		</div>
	<?php endif; ?>	
</div>
<div class="corpo">
	<div class="titulo">
		<h2>Funcionários</h2>
	</div>
	<?php if(!is_null($texto_equipe['corpo'])): ?>
		<div class="texto">
			<?php echo $texto_equipe['corpo']; ?>
		</div>
	<?php endif; ?>
	<?php if($total_equipe > 0): ?>
		<div class="texto">
			<ul class="listagem">
				<?php foreach ($equipe as $item): ?>
					<li>
						<div class="imagem">
							<?php if(key($item['imagem']) > 0): ?>
								<?php $imagem = current(Cdc_ArrayHelper::current($item['imagem'])); ?>
								<img src="<?php echo Config::$upload . '/thumbnail/' . $imagem['nome']?>">
							<?php else: ?>
							<?php endif; ?>
						</div>
						<div class="detalhes">
							<div class="categoria">
								<?php if(!is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
									<span>Exercício de <?php echo $item['exercicio_inicio']; ?> até <?php echo $item['exercicio_fim']; ?></span>
								<?php elseif(!is_null($item['exercicio_inicio']) and is_null($item['exercicio_fim'])): ?>
									<span>Exercício a partir de <?php echo $item['exercicio_inicio']; ?></span>
								<?php elseif(is_null($item['exercicio_inicio']) and !is_null($item['exercicio_fim'])): ?>
									<span>Exercício até <?php echo $item['exercicio_fim']; ?></span>
								<?php endif; ?>
							</div>
							<div class="titulo">
								<h3><?php echo $item['nome']; ?></h3>
								<h4>Cargo: <?php echo $item['cargo']; ?></h4>
							</div>
							<div class="resumo">
								<?php echo $item['detalhes']; ?>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php else: ?>
		<div class="texto">
			<div class="alert alert-warning">Não existem funcionários cadastrados.</div>
		</div>
	<?php endif; ?>	
</div>