<form method="post" action="" enctype="multipart/form-data" class="well">
    <?php foreach ($widgets as $k => $v): ?>
        <?php if (isset($def[$k]['widget']['widget']) && $def[$k]['widget']['widget'] == 'hidden'): ?>
            <?php echo $v; ?>
            <?php unset($widgets[$k]); ?>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php while ($item = each($widgets)): ?>
        <?php
        $p            = $item['key'];
        $widgetClass  = $p;
        $widget = array_key_exists('widget', $def[$p][Cdc_Definition::TYPE_WIDGET]) ? $def[$p][Cdc_Definition::TYPE_WIDGET]['widget'] : 'text';
        ?>
        <div class="element <?php echo "$widgetClass"; ?>">
            <?php if ($widget == 'boolean'): ?>
             <label class="checkbox">
                <?php echo $widgets[$p]; ?> <?php echo label($p); ?><?php echo required($def[$p]); ?>
            </label>
            <?php else: ?>
                <label><?php echo label($p); ?><?php echo required($def[$p]); ?></label>
                <?php echo $widgets[$p]; ?>
            <?php endif; ?>
        </div>

    <?php endwhile; ?>

    <div class="button">
        <button type="submit" class="btn btn-primary btn-large" id="enviar"><i class="fa fa-bolt"></i> Salvar</button>
    </div>
</form>
