<form method="get" action="" enctype="multipart/form-data" class="well">
    <?php foreach ($widgets as $k => $v): ?>
        <?php if (isset($def[$k]['type']) && $def[$k]['type'] == 'hidden'): ?>
            <?php echo $v; ?>
            <?php unset($widgets[$k]); ?>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php foreach ($widgets as $k => $v): ?>
        <label for="<?php echo $k; ?>">
            <?php echo label($k); ?>
        </label>
        <?php echo $v; ?>
    <?php endforeach; ?>
    <div class="button">
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
        <a href="<?php echo $resetUrl; ?>" class="btn">Limpar</a>
    </div>
</form>
