<?php if ($total > 0): ?>
    <div id="demonstrativo">
        <?php foreach($lista as $ano => $anual): ?>
            <caption>
                <h3>Exercício de <?php echo $ano; ?></h3>
            </caption>
            <?php foreach($anual as $mes => $mensal): ?>
                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <?php $calculo_mensal = 0; ?>
                        <tr>
                            <th colspan="3">
                                <center>
                                    <h4>BALANÇO MENSAL DE <?php echo mb_convert_case(Datastore::$meses[$mes], MB_CASE_UPPER); ?></h4>
                                </center>
                            </th>
                        </tr>
                    </thead>
                    <?php foreach($mensal as $tipo => $tipagem): ?>
                        <?php
                            $buffer_categoria = false;
                            $buffer_fluxo = false;
                        ?>
                        <thead>
                            <tr>
                                <th colspan="3" class="texto-<?php echo DemonstrativoCategoria::$classes[$tipo]; ?>">
                                    <center><?php echo DemonstrativoCategoria::$tipo[$tipo]; ?></center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($tipagem as $categoria => $balancete): ?>
                            <?php foreach($balancete as $fluxo_caixa => $balanco): ?>
                                <?php foreach($balanco as $id => $balanco_mensal): ?>
                                    <tr>
                                        <?php if($buffer_categoria !== $categoria): ?>
                                            <td title="<?php e($balanco_mensal['detalhes']); ?>"><?php echo $balanco_mensal['categoria_nome']; ?></td>
                                        <?php else: ?>
                                            <td title="<?php e($balanco_mensal['detalhes']); ?>"></td>
                                        <?php endif; ?>
                                        <td title="<?php e($balanco_mensal['detalhes']); ?>"><?php echo $balanco_mensal['fluxocaixa_nome']; ?></td>

                                        <td title="<?php e($balanco_mensal['detalhes']); ?>" class="valor">
                                            <span class="<?php echo 'texto-' . DemonstrativoCategoria::$classes[$tipo]; ?>">
                                                <span class="pull-left">R$</span>
                                                <span class="pull-right">
                                                    <?php
                                                        echo ($tipo == DemonstrativoCategoria::TIPO_SAIDA ? '-' : '');
                                                        
                                                        $valor = floatval(str_replace(',', '.', str_replace('.', '', $balanco_mensal['valor'])));

                                                        echo number_format($valor, 2, ',', '.');
                                                    ?>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <?php
                                        if($buffer_fluxo !== $fluxo_caixa)
                                        {
                                            $buffer_fluxo = $fluxo_caixa;
                                        }
                                        if($buffer_categoria !== $categoria)
                                        {
                                            $buffer_categoria = $categoria;
                                        }

                                        if($tipo == DemonstrativoCategoria::TIPO_SAIDA)
                                        {
                                            $calculo_mensal -= $valor;
                                        }
                                        else
                                        {
                                            $calculo_mensal += $valor;
                                        }
                                    ?>
                                <?php endforeach; ?>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            Fechamento do Mês
                        </th>
                        <th>
                            <span class="<?php echo 'texto-' . ($calculo_mensal > 0 ? 'success' : 'error'); ?>">
                                <span class="pull-left">R$</span>
                                <span class="pull-right">
                                    <?php echo number_format($calculo_mensal, 2, ',', '.'); ?>
                                </span>
                            </span>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </div>
<?php else: ?>
	<div class="texto">
		<div class="alert alert-warning">Não existem balanços cadastrados.</div>
	</div>
<?php endif; ?>
<?php if ($total > $limit): ?>
<div class="pagination">
    <?php echo $pager; ?>
</div>
<?php endif; ?>