﻿<?php if($total): ?>
    <div id="events">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="evento-data">Data</th>
                    <th class="evento-hora">Hora</th>
                    <th class="evento-data-min">Data</th>
                    <th class="evento-datahora">Data/Hora</th>
                    <th class="evento-local">Local</th>
                    <th class="evento-nome">Evento</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($events as $event): ?>
                    <?php

                        $link = 'http://facebook.com/' . $event->id;
                        $location = 'Sem local definido';
                        $timezone = 'America/Fortaleza';

                        if(property_exists($event, 'location'))
                        {
                            $location = $event->location;
                        }

                        if($event->is_date_only)
                        {
                            $show_time = false;
                            $datahora = date_create_from_format('Y-m-d', $event->start_time, timezone_open($timezone));
                        }
                        else
                        {
                            $show_time = true;
                            $datahora = date_create_from_format(DATE_ISO8601, $event->start_time, timezone_open($timezone));
                        }
                    ?>
                    <tr>
                        <td class="evento-data">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php echo date_format($datahora, 'd') . ' de ' . mb_convert_case(Datastore::$meses[date_format($datahora, 'n')], MB_CASE_LOWER, 'UTF-8'); ?>
                            </a>
                        </td>
                        <td class="evento-hora">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php if($show_time): ?>
                                    <?php echo date_format($datahora, 'H') . 'h' . ((int) date_format($datahora, 'i') ? ' e ' . date_format($datahora, 'i') . 'min' : ''); ?>
                                <?php else: ?>
                                    Sem horário definido
                                <?php endif; ?>
                            </a>
                        </td>
                        <td class="evento-data-min">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php echo date_format($datahora, 'd/m'); ?>
                            </a>
                        </td>
                        <td class="evento-datahora">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php echo date_format($datahora, ($show_time ? 'd/m - H\hi' : 'd/m')); ?>
                            </a>
                        </td>
                        <td class="evento-local">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php echo $location; ?>
                            </a>
                        </td>
                        <td class="evento-nome">
                            <a href="<?php echo $link; ?>" target="_blank">
                                <?php echo $event->name; ?>
                            </a>
                            <i class="fa fa-chevron-right"></i>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
	<div class="texto">
		<div class="alert alert-warning">Não existem eventos publicados.</div>
	</div>
<?php endif; ?>
<?php if ($total > $limit): ?>
    <div class="pagination">
        <?php echo $pager; ?>
    </div>
<?php endif; ?>