.stylish-select ul.newList
{
	left: -9999px;
}

ul.newList *
{
	margin: 0;
	padding: 0;
	outline: 0;
}

ul.newList a
{
    font-size: 12px;
	text-decoration: none;
	display: block;
}

ul.newList
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 9999;
}

.newListSelected
{
	padding: 0 0 0 10px;
	font-size: 12px;
}

.newListSelected span
{
	display: block;
}

.selectedTxt
{
    font-size: 12px;
	padding: 0 18px 0 0;
	overflow: hidden;
	cursor: pointer;
}

ul.newList li a
{
	display: block;
	padding: 0 10px;
    white-space: nowrap;
}

ul.newList li a:hover
{
	text-decoration: none !important;
}

.newListHover
{
	cursor: pointer;
}

.newListSelHover,
.newListSelFocus
{
	background-position: 0px 0px;
	cursor: pointer;
}

.newListOptionTitle
{
	font-weight: bold;
}

.newListOptionTitle li
{
	font-weight: normal;
}

.select.search
{
	display: none;
}

#listsearch
{
	float: left;
    margin-left: 10px;
	width: 111px;
	height: 29px;
	background: url('../../site/images/sprite.png') no-repeat;
}

#listsearch span
{
	width: 111px !important;
}

#listsearch.newListSelHover,
#listsearch.newListSelFocus
{
	background-position: 0px 0px;
	cursor: pointer;
}

#textsearch
{
	width: 93px !important;
	height: 29px;
	line-height: 29px;
	color: #fff;
}

#itenssearch
{
	min-width: 119px;
	background: #777777;
	border: 1px solid #777777;
	color: #fff;
}

#itenssearch a
{
    height: 29px;
    line-height: 29px;
	color: #fff;
    padding-right: 30px;
}

#itenssearch .hiLite,
#itenssearch .hiLite a,
#itenssearch .newListHover
{
	background: #E97E29;
	color: #fff;
}

.select.form
{
	display: none;
}

#list
{
    display: inline-table;
	width: 140px;
	height: 25px;
	background: url('../../site/images/sprite.png') no-repeat;
	background-position: 0px -62px;
	color: #084840;
}

#list span
{
	width: 140px !important;
}

#list.newListSelHover,
#list.newListSelFocus
{
	background-position: 0px -87px;
	cursor: pointer;
}

#text
{
	width: 134px !important;
	height: 25px;
	line-height: 25px;
	color: #084840;
}

#itens
{
	min-width: 160px;
	background: #fff;
	border: 1px solid #084840;
	color: #084840;
}

#itens a
{
    height: 25px;
    line-height: 25px;
	color: #084840;
}

#itens .hiLite,
#itens .hiLite a,
#itens .newListHover
{
	background: #75b3aa;
	color: #084840;
}