<?php include $controller->getTemplate('layout/_admin_header.phtml', 'Admin'); ?>
<body class="no-background dialog">
    <div class="dialog" class="container">
        <?php display_system_events(); ?>

        <div id="upload">
            <span class="btn btn-primary btn-large fileinput-button">
                <span>Enviar arquivos</span>
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
            <div id="progress" class="progress progress-success">
                <div class="bar"></div>
            </div>
        </div>

        <script>
            var CKEDITOR = window.top.CKEDITOR || {};
            var CKEDITOR_HANDLERS = window.top.CKEDITOR_HANDLERS || {};
            var INSTANCE_CHOOSER = '<?php echo $controller->link('arquivo', array(), array('op' => 'chooseInstance')); ?>';
            var REGION_ID = '<?php echo f(INPUT_GET, 'region_id'); ?>';

            function recarregar()
            {
                var url = FILE_MANAGER.replace('__FILE_MANAGER__REGION__', REGION_ID);
                document.location.assign(url);
            }

            $(function () {
                'use strict';
                // Change this to the location of your server-side upload handler:
                var url = '<?php echo $controller->link('upload'); ?>';
                $('#fileupload').fileupload({
                    url: url,
                    dataType: 'json',
                    autoUpload: true,
                    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                    done: function (e, data) {
                        /*
                        $.each(data.result.files, function (index, file) {
                            $('<p/>').text(file.name).appendTo('#files');
                        });*/
                        $('.fileinput-button').removeClass('bnt-primary').removeClass('disabled').find('span').text('Envio finalizado!');
                        window.setTimeout('recarregar()', 1500);
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('.fileinput-button').addClass('disabled').find('span').text('Enviando...');
                        $('#progress .bar').css(
                            'width',
                            progress + '%'
                        );
                    }
                }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');


<?php /*
            });

            var CKEDITOR = window.top.CKEDITOR || {};
            var CKEDITOR_HANDLERS = window.top.CKEDITOR_HANDLERS || {};
            var INSTANCE_CHOOSER = '<?php echo $controller->link('arquivo', array(), array('op' => 'chooseInstance')); ?>';
            var REGION_ID = '<?php echo f($_REQUEST, 'region_id'); ?>';
            $(function() {

                $("#upload").uploadify({
                    height        : 30,
                    swf           : '<?php echo Config::$root; ?>assets/vendor/uploadify/uploadify.swf',
                    uploader      : '<?php echo $controller->link('uploadify'); ?>',
                    width         : 120,
                    formData      : {'<?php echo session_name(); ?>': '<?php echo session_id(); ?>'},
                    buttonText    : '<i class="icon-upload-alt"></i> Enviar Arquivos',
                    buttonClass   : 'btn btn-primary',
//                    debug         : true,
//                    onUploadSuccess: function (file, data, response) {
//                        if(data){
//                            $('#upload-queue').html('the file <span class="label label-info">' + file.name + '</span> was returned the following response <span class="label label-success">' + response + '</span> ad the following data ' + data);
//                        } else {
//                            $('#upload-queue').html('the file <span class="label label-info">' + file.name + '</span> was returned the following response <span class="label label-important">' + response + '</span> ad the following data ' + data);
//                        }
//                    },
                   onQueueComplete: function(queueData) {
                      document.location.reload();
                   }
//                  ,onUploadSuccess: function(a, data, b) {
//                        $('body').prepend(data);
//                    }
                });
 * 
 */
?>

                var addFileToRegion = function(el) {
                    var input = $(window.top.document.getElementById(REGION_ID));

                    var list = input.siblings('.list');

                    var val = {};

                    try
                    {
                        if(input.val() != '')
                        {
                            val = $.parseJSON(decodeURIComponent(input.val())) || {};
                        }
                    }
                    catch (e)
                    {

                    }


                    var data_filename = el.attr('data-filename');
                    var data_fileid = el.attr('data-fileid');

                    if (!(val.hasOwnProperty(data_fileid)) || val[data_fileid] == null)
                    {
                        val[data_fileid] = {arquivo_id: data_fileid, regiao: REGION_ID};
                        var newEl = $('<a class="colorbox" href="' + UPLOAD + data_filename + '"><img src="' + UPLOAD + '__preview__/' + data_filename + '"></a>');//.colorbox({maxWidth: '500', maxHeight: '300'});
                        var newElContainer = $('<div class="fileitem draggable">');
                        newElContainer.append(newEl);
                        newElContainer.append('<a href="#" class="removefile" data-fileid="' + data_fileid + '"><i class="fa fa-trash-o"></i></a>');
                        list.append(newElContainer);
                        input.val(encodeURIComponent(JSON.stringify(val)));
                    }
                    else
                    {
                        alert('O arquivo já foi selecionado.');
                    }

                    return false;
                }

                $('.file_select').on('click', function() {

                    if (REGION_ID)
                    {
                        return addFileToRegion($(this));
                    }

                    var instance_dialog = $('#choose_instance');

                    instance_dialog.find('.modal-body').load(this.href);

                    instance_dialog.modal();

                    return false;
                });

                $('#choose_instance_button').click(function() {
                    var src = $('#instance_chooser').val();
                    CKEDITOR_HANDLERS.editor.insertHtml('<img src="' + src + '">');
                    CKEDITOR.dialog.getCurrent().hide();
                    return false;
                });

                $('.file_delete').on('click', function() {

                    var instance_dialog = $('#delete_file');

                    instance_dialog.load(this.href);

                    instance_dialog.modal();

                    return false;
                });
            });
        </script>
        <div id="edit_files" class="accordion hide">
        </div>

        <div class="modal hide" id="choose_instance">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Selecione uma instância de imagem</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a href="#" id="choose_instance_button" class="btn btn-primary">Inserir imagem</a>
                <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            </div>
        </div>

        <div class="modal hide" id="delete_file">
        </div>


        <?php echo $content; ?>
    </div> <!-- /container -->
    <?php include $controller->getTemplate('layout/_admin_footer.phtml', 'Admin'); ?>
</body>
</html>
