<ul id="file_editor_tabs" class="nav nav-tabs">
    <?php $active = ' class="active"'; ?>
    <?php foreach ($instances as $key => $i): ?>
        <li<?php echo $active; $active = ''; ?>><a href="#<?php echo Cdc_Texto::slug($key); ?>" data-toggle="tab"><?php echo label($key); ?></a></li>
    <?php endforeach; ?>
</ul>

<div class="tab-content">
    <?php $active = ' active'; ?>
    <?php foreach ($instances as $key => $i): ?>
        <div class="tab-pane<?php echo $active; $active = ''; ?>" id="<?php echo Cdc_Texto::slug($key); ?>">
            <div class="crop_area" style="visibility: hidden; overflow: visible; position: relative">
                <div class="dim">
                    <img src="<?php echo Config::$upload . $this->item['nome']; ?>">
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>
<br>
<form method="post" action="" id="file_editor_form">
    <input name="settings" type="hidden" id="file_editor_settings_input">
    <button type="submit" class="btn btn-primary" id="file_editor_save">Salvar alterações</button>
    <button type="button" class="btn" id="file_editor_cancel">Cancelar</button>
</form>


<script>
$(window).load(function() {
    var editor_settings = {};
    <?php foreach ($saved_data as $key => $value): ?>

    editor_settings['<?php echo Cdc_Texto::slug($key); ?>'] = <?php echo Zend_Json::encode($value); ?>;

    <?php endforeach; ?>

    var loadTools = function(id) {

        $('.crop_area', id).css('width', 300).css('height', 300).css('visibility', 'visible');

        id = id.replace('#', '');
        // Exibir a imagem dentro do quadro fixo.

        $('.crop_area img', '#' + id).imgscale({
            parent: '.crop_area',
            scale: 'fit'
        });

        var originalWidth = parseInt(editor_settings[id]['crop']['original_width']);
        var originalHeight = parseInt(editor_settings[id]['crop']['original_height']);

        var cropWidth = parseInt(editor_settings[id]['crop']['width']);
        var cropHeight = parseInt(editor_settings[id]['crop']['height']);

        var ratio = cropWidth + ':' + cropHeight;

        var x1 = parseInt(editor_settings[id]['crop']['left']);
        var y1 = parseInt(editor_settings[id]['crop']['top']);

        var x2 = x1 + cropWidth;
        var y2 = y1 + cropHeight;

        $('.crop_area img', '#' + id).imgAreaSelect({
            handles: true,
            parent: '#' + id + ' .crop_area',
            imageHeight: originalHeight,
            imageWidth: originalWidth,
            aspectRatio: ratio,
            'x1': x1,
            'y1': y1,
            'x2': x2,
            'y2': y2,
            onSelectEnd: function(img, selection) {
                editor_settings[id]['crop'].width = selection.width;
                editor_settings[id]['crop'].height = selection.height;
                editor_settings[id]['crop'].left = selection.x1;
                editor_settings[id]['crop'].top = selection.y1;
            }
        });
    }

    // É preciso carregar separadamente as ferramentas para a aba inicial.
    loadTools($('#file_editor_tabs a').first().attr('href'));

    // Estas abas do Twitter Bootstrap são péssimas. Só tem este evento e outro.
    // Este não roda quando a aba inicial é mostrada.
    // Por isso é necessário selecionar todas as abas que não são a primeira.
    $('#file_editor_tabs a:not(:first)').on('shown', function(e) {
        if ($(this).data('shown'))
        {
            return;
        }

        $(this).data('shown', true);

        loadTools($(this).attr('href'));
    });


    $('#file_editor_form').submit(function() {
        $('#file_editor_settings_input').val(JSON.stringify(editor_settings));
    });
});
</script>
