<form method="post" action="<?php echo $action; ?>">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Deseja excluir realmente o  arquivo?</h3>
    </div>
    <div class="modal-body">
        <div class="span6">
            <div class="row">
                <?php

                    $file = Config::$upload_abs . '__thumbnail__' . DIRECTORY_SEPARATOR . $arquivo['nome'];
                    $ext = pathinfo($file, PATHINFO_EXTENSION);
                    $is_image = in_array($ext, array('jpg', 'jpeg', 'png', 'gif'));

                    if ($is_image and file_exists($file)):
                ?>
                <div class="span2">
                    <div class="thumbnail">
                        <img src="<?php echo Config::$upload . '__thumbnail__/' . $arquivo['nome']; ?>" />
                    </div>
                </div>
                <div class="span4">
                <?php else: ?>
                <div class="span6">
                <?php endif; ?>
                    <?php
						if(function_exists('date_create_from_format'))
						{
							$criacao = date_create_from_format('Y-m-d H:i:s', $arquivo['criado']);
							$data = 'Enviado em ' . date_format($criacao, 'd/m/Y') . ' às ' . date_format($criacao, 'H:i:s');
						}
						else
						{
							$data = 'Enviado em ' . $arquivo['criado'];
						}
                    ?>
                    <p class="lead"><?php echo $arquivo['nome_original']; ?></p>
                    <p>
                        <span>Título Original: <?php echo $arquivo['titulo']; ?></span><br>
                        <span>Arquivo: <a href="<?php echo Config::$upload . $arquivo['nome']; ?>" target="_blank"><?php echo Config::$upload . $arquivo['nome']; ?></a></span><br>
                        <span><?php echo $data; ?></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><i class="fa fa-warning"></i> Excluir permanentemente</button>
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
    </div>
</form>